.aboutWrap {
    display: flex;
    padding: 0 0 1rem;

    font-size: .9rem;
    
    background-color: #1E2745;
}
.aboutLinks {
    padding: 1rem;
    flex-basis: 25%;

    color: #50b5ff;
    cursor: pointer;
}
.aboutLink {
    padding: .5rem 1rem;

    border-radius: 5px;
}
.activeLink {
    background: #29324f;
}
.aboutInf {
    flex-basis: 75%;
}
.title {
    margin-bottom: .5rem;
    padding: .7rem 0;
    font-size: 1.2rem;
    font-weight: 500;

    border-bottom: 1px solid #29324f;
}
.aboutForm {
    margin-bottom: 1.5rem;
}

.btn {
    padding: .3rem 3rem;
    margin: 2rem auto 0;
  
    background-color: #2aa3fb;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .2s linear;
  
}

.btn:hover {
background-color: #fff;
color:#2aa3fb;
}

.aboutItem {
    margin: .5rem 0;
}
.aboutItem label {
    margin: 0;
    margin-right: 1rem;
    width: 160px;
}
.aboutItem input {
    padding: .3rem 1rem;
    
    border: none;

    color: inherit;
    background-color: #29324f;
}