.aboutWrap {
    display: flex;
    padding: 0 0 1rem;

    font-size: .9rem;
    
    background-color: #1E2745;
}
.aboutLinks {
    padding: 1rem;
    flex-basis: 25%;

    color: #50b5ff;
    cursor: pointer;
}
.aboutLink {
    padding: .5rem 1rem;

    border-radius: 5px;
}
.activeLink {
    background: #29324f;
}
.aboutInf {
    flex-basis: 75%;
}
.title {
    margin-bottom: .5rem;
    padding: .7rem 0;
    font-size: 1.2rem;
    font-weight: 500;

    border-bottom: 1px solid #29324f;
}
.aboutForm {
    margin-bottom: 1.5rem;
}

.dataItem {
    display: flex;
    align-items: center;
}
.dataItem label {
    flex-basis: 25%;
}
.dataItem input,
.dataItem textarea {
    width: 300px;
}
.dataItemTitle {
    flex-basis: 25%;
    margin: .5rem;
}
.dataItemText {
    flex-basis: 60%;
}