.profileBlock {
  display: grid;
  grid-template-areas:
  "bg"
  "info"
  "posts"
  "post";
  grid-gap: 10px;
}
.profile__wrap {  
    width: 100%;
  }
  .profile__bg {
    position: relative;
    max-width: 1200px;
    height: 250px;
    background: url(./../../assets/img//bg1.jpg) no-repeat center;
    background-size: cover;
  }
  .profile__photoWrapper {
    position: absolute;
    left: 50%;
    bottom: 44%;
    transform: translate(-80%);
  }
  .profile__photo {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #252e4b;
    overflow: hidden;
  }
  .profile__photo img {
    object-fit: contain;
    max-width: 100%;
  }
  .profile__detail {
    margin-top: 10px;
    text-align: center;
  }
  .profile__info {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px 30px; 
    background-color: #1E2745;
  }
  .profile__social span a img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .btns {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
  }
  .btn + .btn {
    margin-left: .5rem;
  }
  .btn {
    padding: 0;

    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    
    background-color: #fff;
  }

  .btn:focus {
    outline: none;
  }

  .btn img {
    width: 2rem;
    height: 1.2rem;
  }
  .profileInfo {
    grid-area: info;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4rem;

    background-color: #1e2745;
  }
  .profileInfo__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;

    font-size: .9rem;

    height: 100%;

    border-radius: 5px;

    cursor: pointer;
    
    transition: all .1s linear;
  }
  .profileInfo__item:hover {
    color: #50b5ff;
  }

  .active {
    color: #fff;
    background-color: #50b5ff;
  }

  .active:hover {
    color: #fff;
  }