.layout {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-areas:
  "header header header"
  "nav content friends"
  "nav footer friends";
  grid-template-rows: 75px 1fr;
  grid-template-columns: 2fr 10fr;
  background-color: #182039;
  grid-gap: 10px;
  grid-column-gap: 20px;
}

.footer {
  grid-area: footer;
  background-color: #1E2745;
  padding: 20px;
}