.posts__blockWrap {
  flex-basis: 68%;
  display: flex;
  flex-direction: column;
}
.posts__block {
    background-color: #1E2745;
    padding: 0 0 20px;
  }
  .posts__form {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .posts__blockTitle {
    padding: 20px;
    font-size: 1.1rem;
    border-bottom: 1px solid #252e4b;
  }
  .posts__formImg {
    margin-right: 10px;
    width: 80px;
    height: 69px;
    border-radius: 50%;
    border: 1px solid #252e4b;
    overflow: hidden;
  }
  .posts__formImg img {
    object-fit: contain;
    max-width: 100%;
  }
  .posts__form form {
    width: 100%;
  }
  .posts__textarea {
    width: 100%;
    border: none;
    background-color:#1E2745;
    resize: none;
    outline: none;
    font-size: 15px;
    color: #8c91b6;
  }

  .button {
    display: block;
    width: 50%;
  }