* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  color:#8c91b6;
}

.page-item {
  width: 50px;
}
.page-item a {
  text-align: center;
}









