@font-face {
  font-family: "Blame";
  src: url(./../../assets//fonts/Blame.ttf);
}

.header {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  grid-area: header;  
  background-color: #1E2745;
}
.header__logo {
  font-size: 1.1rem;
  font-family: 'Blame', sans-serif;
  flex-basis: 25%;
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 10%;
}
.header__infoItem {
  margin-right: 1rem;
}
.userPhoto {
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-radius: 50%;
  overflow: hidden;
}
.userPhoto img {
  object-fit: cover;
  max-width: 100%;
}
.logo__link {
  text-decoration: none;
  color: inherit;
}
.logo__link:focus {
  text-decoration: none;
}
.logo {
  padding: 0;
  display: inline-block;
  width: 120px;
  height: 120px;
}
.btn a{
  display: block;
  padding: .3rem .5rem;

  background-color: #2aa3fb;
  color: #fff;

  text-decoration: none;

  border: none;
  border-radius: 5px;
  transition: all .2s linear;

  cursor: pointer;
}

.btnLogout a {
  color: #ff9b8a;
  background-color: rgba(255, 155, 138, .2);
}

.btn a:hover {
  background-color: #fff;
  color:#2aa3fb;
}

.btnLogout a:hover {
  color: #fff;
  background-color: #ff9b8a;
}