  
  
  .nav li {
    list-style-type: none;
  }
  .nav li a {
    text-decoration: none;
  }
  .activeLink {
    color: #50b5ff !important;
    background-color: #29324f;
  }
  .activeLink .imgSvg {
    background-color: #50b5ff;
  }
  .nav__item {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    color: inherit;
    transition: color .2s ease-in;
  }
  .nav__item:hover {
    color: #50b5ff;
  }
  .nav__item:hover .navItemLogoImg {
    fill: #50b5ff;
  }
  .nav__item:hover .imgSvg {
    background-color: #50b5ff;
  }
  .imgSvg {
    margin-right: .7rem;
    width: 1rem;
    height: 1rem;
    background-color:#8c91b6;
    transition: all .2s ease-in;
  }
  #profileUser {
    mask-image: url(./../../assets/icons/user.svg);
  }
  #news {
    mask-image: url(./../../assets/icons/news.svg);
  }
  #messages {
    mask-image: url(./../../assets/icons/messages.svg);
  }
  #friends {
    mask-image: url(./../../assets/icons/friends1.svg);
  }
  #users {
    mask-image: url(./../../assets/icons/group.svg);
  }
  #communities {
    mask-image: url(./../../assets/icons/community.svg);
  }
  .sidebar__nav {
    grid-area: nav;
    padding: 20px;
    background-color: #1E2745;
  }